venv/
__pycache__/
*.pyc
node_modules/
dist/
.env
.DS_Store


# Logs
scraper/cron_log.log

# Frontend (React/Vite) related
frontend/node_modules/
frontend/dist/
frontend/.DS_Store

# IDE related
.vscode/
.idea/

#JSON files
*.json
!gold_tax.json